//////////////////////////////////////
// FULL WIDTH IMAGE

//imports
@use 'src/scss/variables' as v;

.full-width-image{
  position:relative;
  background-color:v.$white;
  width:100%;
  padding:32px 0px;
  .container{
    overflow:hidden;
    img{
      width:100%;
      height:auto;
      max-height:500px;
      object-fit:cover;
    }
  }
  
}

//admin display overrides
.wp-admin{
  .full-width-image{}
}
