//////////////////////////////////////
// WYSIWYG BLOCK

//imports
@use '../../../src/scss/variables' as v;


//basic wysiwyg block
.block-wysiwyg{
  h1, h2, h3, h4, h5, h6{
    letter-spacing: 1px;
    color:v.$black;
  }
  a{
    color:v.$black;
    @include v.trans(0.2s);
    &:hover{
      color:v.$blue;
      @include v.trans(0.2s);
    }
  }
  p{
    margin:10px auto 20px;
    color: v.$black;
  }
  ul{
    margin:30px 0px;
    li{
      color:v.$black;
      font:400 16px/24px v.$roboto;
      margin:0px;
      @include v.breakpoint(768px){font:400 14px/22px v.$roboto;}
    }
  }
  strong{
    font:700 16px/24px v.$roboto;
    color:v.$black;
    @include v.breakpoint(768px){font:700 14px/22px v.$roboto;}
  }
}







 //admin display overrides
 .wp-admin{
  .block-wysiwyg{
    
  }
}