//////////////////////////////////////
// HEADLINE BLOCK

//imports
@use '../../../src/scss/variables' as v;


//basic headline blocks
.block-headline{
  margin:40px auto 10px;
  h1, h2, h3, h4, h5, h6{
    letter-spacing: 1px;
    color:v.$black;
  }
}







 //admin display overrides
 .wp-admin{
  .block-headline{
    
  }
}