//////////////////////////////////////
// BASIC BLOCKS

//basic text blocks
.basic-headline{
  margin:40px auto 10px;
  h1, h2, h3, h4, h5, h6{
    letter-spacing: 1px;
  }
}


.basic-text{
  margin:10px auto 40px;
  p{
    margin:10px auto 20px;
  }
}


.basic-wysiwyg{
  a{
    color:black;
    @include trans(0.2s);
    &:hover{
      color:blue;
      @include trans(0.2s);
    }
  }
  ul{
    margin:30px 0px;
    li{
      color:red;
      font:400 16px/24px v.$roboto;
      margin:0px;
      @include breakpoint(768px){font:400 14px/22px v.$roboto;}
    }
  }
  strong{
    font:700 16px/24px v.$roboto;
    color:red;
    @include breakpoint(768px){font:700 14px/22px v.$roboto;}
  }
}


 //admin display overrides
.wp-admin{
  .callout{
    
  }
}