//////////////////////////////////////
// IMAGE WITH TEXT

//imports
@use 'src/scss/variables' as v;


//basic headline blocks
.image-with-text{
  margin:40px auto 10px;
  display:flex;
  .image{
    width:50%;
  }
  .text{
    width:50%;
  }
}







 //admin display overrides
 .wp-admin{
  .image-with-text{
    
  }
}


