//////////////////////////////////////
// PRIMARY STYLES

//imports
@use 'variables' as v;


// all front-end base styles are wrapped in the bdhwk class
// this is to explude these styles from the admin panel
.bdhwk, html{

font-size: v.$root-font-size-percentage;


body{
  position:relative;
  width:100%; height:100%;
  background-color:v.$white;
  color:v.$black;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
  animation: bodyFade 0.5s forwards;
}

// fade in effect on page load
 @keyframes bodyFade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

main{
  overflow:hidden;
}

.container{
  max-width:v.$container-max-width;
  margin:0 auto;
}


//text selection styles
::selection {
  background: v.$black;
  color:v.$white;
}
::-moz-selection {
  background: v.$black;
  color:v.$white;
}


// base font styles
// will be overwrtten to match the creative in the individual page fiels
a{
  text-decoration:none;
  color:v.$black;
  webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1{
  color:v.$black;
  font:700 4rem/4rem v.$roboto;
  margin:0;
}

h2{
  color:v.$black;
  font:300 2.7rem/2.7rem v.$roboto;
  margin:0;
}

h3{
  color:v.$black;
  font:700 1.8rem/1.8rem v.$roboto;
  margin:0;
}

h4{
  color:v.$black;
  font:300 1.4rem/1.4rem v.$roboto;
  margin:0;
}

h5{
  color:v.$black;
  font:700 1.4rem/1.4rem v.$roboto;
  margin:0;
}

h6{
  color:v.$black;
  font:300 1.2rem/1.2rem v.$roboto;
  margin:0;
}

p{
  color:v.$black;
  font:300 1.2rem/1.2rem v.$roboto;
  margin:0;
}



// base for all line elements on the page
hr{
  border-bottom:1px solid v.$black;
}



} // end of front-end styles .bdhwk/html




// wp-admin styles for block admin panel
// all admin panel items should be wrapped in .wp-admin
.wp-admin{
  
}