// VARIABLES -----------------------

// COLORS -----------------------
$black: #333333;
$white: #ffffff;


// FONTS -----------------------
$prox-reg: 'ProximaNova-Regular', sans-serif;
$prox-med: 'ProximaNova-Semibold', sans-serif;
$prox-lit: 'ProximaNova-LightIt', sans-serif;
$prox-l:'ProximaNova-Light', sans-serif;



// MIXINS -----------------------
@mixin breakpoint($size) { 
 @media screen and (max-width: $size) { @content; } 
}

@mixin trans($sec){
  -webkit-transition: all ($sec) ease-in-out;
  -moz-transition: all ($sec) ease-in-out;
  -o-transition: all ($sec) ease-in-out;
  transition: all ($sec) ease-in-out;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}