//////////////////////////////////////
// VARIBALES

//REM
//the base you want. 10 makes it easy to calculate
$rem-base: 10px !default;
//this is a browser default. No need to change.
$browser-default-base: 16px;
// Calculate the percentage: 10px / 16px = 0.625, converted to 62.5%
//place this in html to set it
$root-font-size-percentage: percentage($rem-base / $browser-default-base);


//CONTAINER
$container-max-width: 1.4rem;
//$container-max-width: 1400px;




// COLORS -----------------------
$black: #333333;
$white: #ffffff;
$blue: rgb(107, 107, 255);


// FONTS -----------------------
$roboto: 'Roboto', sans-serif;



// MIXINS -----------------------
@mixin breakpoint($size) { 
 @media screen and (max-width: $size) { @content; } 
}

@mixin breakpoint-min($size) {
  @media screen and (min-width: $size) { @content; } 
}

@mixin trans($sec){
  -webkit-transition: all ($sec) ease-in-out;
  -moz-transition: all ($sec) ease-in-out;
  -o-transition: all ($sec) ease-in-out;
  transition: all ($sec) ease-in-out;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin gradient($color1, $color2){
  background: $color1;
  background: -moz-linear-gradient(-45deg, $color1 0%, $color2 100%);
  background: -webkit-linear-gradient(-45deg, $color1 0%,$color2 100%);
  background: linear-gradient(160deg, $color1 0%,$color2 100%);
}


// FUNCTIONS -----------------------
// It strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Converts px to rem
@function calculateRem($size) {
  $remSize: $size / $rem-base;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}